@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
body{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
header{
    text-align: center;
}
nav a:link{
    color: #8C7242;
}
nav a:visited{
    color: #40272e;
}
nav a:hover{
    color: #f2d2d6;
}
nav a:active{
    color: #a2a644;
}
.title-style{
    display: table;
    background-color: #b4e85a;
    background-size: 30px;
    padding: 4px;
    margin: 0px auto 0px auto;
}
.container{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
.container img{
    display: block;
    margin: 0 auto 0 auto;
    width: 50%;
}
.container iframe{
    display: block;
    margin: 0 auto 0 auto;
}
.hero-image img{
    background-position: center;
    background-size: cover;
    border-radius: 20%;
    width: 80%;
}